* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(51, 125, 254, 0.833);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  max-width: 425px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container span {
  width: 50px;
  height: 50px;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  position: relative;
}

.search-form span {
  position: absolute;
  padding: 10px;
}

.search-form input {
  border-radius: 20px;
  padding: 30px;
  width: 320px;
  height: 20px;
  outline: none;
  border-color: blue;
  font-size: 20px;
}

.search-input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
}

.search-form input::placeholder {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.location-button {
  background-color: transparent;
  color: rgb(109, 109, 114);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.location-button span {
  position: relative;
}
.location-button:hover {
  background-color: rgba(51, 125, 254, 0.833);
  color: white;
  border: none;
  transition: 0.3s;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.weather-icon {
  width: 200px;
  height: 200px;
}

.weather-temperature {
  font-size: 80px;
  font-weight: bold;
}

.weather-temperature span {
  font-weight: none;
  font-size: inherit;
}

.hourly-weather {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid lightgray;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  gap: 20px;
  border-top: 1px solid;
}

.hourly-image {
  width: 50px;
  height: 50px;
}

.hourly-description {
  font-size: small;
  color: gray;
  margin-top: 5px;
}
